.todo-app  {
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
}
.todo-title {
  text-align: center;
  color: blueviolet;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e4e2e2;
  padding: 10px 12px;
  margin-bottom: 10px;
}
.todo-content{
  padding: 10px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-btn {
  background: red;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px;
  opacity: 0.7;
}
.delete-btn:hover {
  opacity: 1;
}
.edit-btn {
  background: green;
  border: none;
  cursor: pointer;
  color: white;
  padding: 10px;
  margin-right: 10px;
  opacity: 0.7;
}
.edit-btn:hover {
  opacity: 1;
}
.add-item {
  font-size: 1.5rem;
}
.no-todos {
  font-size: 1.5rem;
  text-align: center;
}
.clear-all {
  display: block;
  padding: 12px;
  color: white;
  background: blueviolet;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 36px;
}
.clear-all:hover {
  background: red;
}
.add-btn {
  display: block;
  padding: 12px;
  color: white;
  background: yellowgreen;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 36px;
}
.add-btn:hover {
  background: green;
}
.add-btn:focus {
  background: yellowgreen;
}
.edit-item-btn {
  display: block;
  padding: 12px;
  color: white;
  background: green;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 36px;
}
.edit-item-btn:hover {
  background: greenyellow;
}
.edit-item-btn:focus {
  background: green;
}
.message {
  font-size: 1rem;
  border: 1px solid red;
  padding: 10px;
  color: red;
}